<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.EduCity.mapper.ConstructionSpeedLevelMapper">

    <resultMap id="BaseResultMap" type="com.EduCity.model.entity.ConstructionSpeedLevel">
            <id property="level" column="level" jdbcType="BIGINT"/>
            <result property="upgradetime" column="upgradeTime" jdbcType="BIGINT"/>
            <result property="buildtime" column="buildTime" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        level,upgradeTime,buildTime
    </sql>
</mapper>
