<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.EduCity.mapper.HouseDataMapper">

    <resultMap id="BaseResultMap" type="com.EduCity.model.entity.HouseData">
            <id property="housetypeid" column="houseTypeID" jdbcType="BIGINT"/>
            <id property="level" column="level" jdbcType="BIGINT"/>
            <result property="unlockcost" column="unlockCost" jdbcType="BIGINT"/>
            <result property="prosperitygrow" column="prosperityGrow" jdbcType="BIGINT"/>
            <result property="constructiongrow" column="constructionGrow" jdbcType="BIGINT"/>
            <result property="goldgotperday" column="goldGotPerDay" jdbcType="BIGINT"/>
            <result property="isunlock" column="isUnlock" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        houseTypeID,level,unlockCost,
        prosperityGrow,constructionGrow,goldGotPerDay,
        isUnlock
    </sql>
</mapper>
