<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.EduCity.mapper.QuizMapper">

    <resultMap id="BaseResultMap" type="com.EduCity.model.entity.Quiz">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="isunlocked" column="isUnlocked" jdbcType="TINYINT"/>
            <result property="topscore" column="topScore" jdbcType="BIGINT"/>
            <result property="attempts" column="attempts" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,isUnlocked,topScore,
        attempts
    </sql>
</mapper>
