<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imyuewang.EduCity.mapper.UserQuizMapper">

    <resultMap id="BaseResultMap" type="com.imyuewang.EduCity.model.entity.UserQuiz">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <id property="quizid" column="quizId" jdbcType="INTEGER"/>
            <id property="knowledgeid" column="knowledgeId" jdbcType="INTEGER"/>
            <result property="attempts" column="attempts" jdbcType="INTEGER"/>
            <result property="topscore" column="topScore" jdbcType="INTEGER"/>
    </resultMap>


    <sql id="Base_Column_List">
        id,quizId,knowledgeId,
        attempts,topScore
    </sql>
</mapper>
